#calculator-container{
    
    width: 200px;
    background-color: aliceblue;
    margin: 30px auto;
    border: 2px solid rgb(198, 193, 193);


}

#display{
    height: 50px;
    width: 85%;
    border: 1.25px solid rgb(147, 139, 139);
    margin-left: 12px;
    margin-top: 10px;
    font-size: 25px;

   
}
#button-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
 
    width: 45px;
    height: 45px;
    margin: 3px;
    text-align: center;
    
    


}